h1,h2,h3,h4,h5{
    color: white;
    font-weight: 600;
}

html,body{
    margin: 0x;
    background-color: #054a09;
}

.title{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1%;
    font-weight: 500;
    font-size: 25px;
    
}

.btn-space{
    margin: 2% 1%;
}

.cards{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#computer-cards #player-cards{
    height: 50%;
}
